* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #21568a;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  text-align: center;
}

#Info>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #1d97bd;
  border-radius: 0 10px 30px 30px;
  filter: drop-shadow(2px 2px 5px rgb(0, 0, 0));
  z-index: 99;
  position: relative;
}

#Info>.container>.kiri {
  display: flex;
  align-items: center;
  gap: 2em;
}

#reset-button {
  background-color: #1d97bd;
  padding: 1.4rem;
  border-radius: 10px;
  border: 5px solid white;
  font-weight: bold;
  font-size: large;
}

.button {
  cursor: pointer;
  filter: drop-shadow(5px 5px 1px rgb(84, 84, 84));
}

.button:hover {
  filter: drop-shadow(4px 4px 1px rgb(84, 84, 84));
  transform: translate(1px, 1px);
}

.button:active {
  filter: drop-shadow(0 0 1px rgb(84, 84, 84));
  transform: translate(3px, 3px);
}

.container__kiri_kiri > .keluar-syon:before, 
.container__kiri_kiri > .keluar-syon:after {
  content: '';
  position: absolute;
  inset: 0;
  /* background: red; */
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

/* .container__kiri_kiri span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #1d97bd;
  z-index: 100;
} */

.container__kiri_kiri > .keluar-syon:nth-child()::before, 
.container__kiri_kiri > .keluar-syon:nth-child():after {
  background: linear-gradient(45deg, red #1d97bd #1d97bd #1d97bd red);
}/* gagal ini */

.container__kiri_kiri > .keluar-syon:hover:before{
  inset: -3px;
  filter: blur(10px);
  -webkit-filter: blur(10px);
}/* gagal ini */

.container__kiri_kanan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: x-large;
}

.container__kiri_kanan>.username {
  color: yellow;
}

.container__kiri_kanan>.score {
  color: #eee;
}

.container>.kanan {
  display: flex;
  flex-direction: row-reverse;
  gap: 2em;
}

.container>.kanan>h3 {
  font-size: xx-large;
}

#Soal {
  background-color: #21568a;
  flex-grow: 1;
}

#Jawaban {
  background-color: #0b223a;
  height: 35vh;
}

.lontong {
  transform: scaleX(-1);
  position: fixed;
  left: 0;
  bottom: 0;
  height: 85vh;
}

#Jawaban>.container-fluid {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 1em;
}

#Jawaban>.container-fluid>.row {
  padding: 50px;
  display: flex;
  gap: 10px;
}

.text {
  width: 100px;
  position: relative;
  padding: 15px 27px;
  font-size: 80pt;
  border: 9px solid white;
  background-color: rgb(255, 187, 60);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-clue {
  background-color: bisque;
}

.button-container-fluid {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.button-container-fluid>button {
  padding: 10px;
  border-radius: 20px;
  border: none;
}

#Soal {
  display: flex;
  justify-content: flex-end;
}

.container-soal {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60vw;
  padding: 100px 50px;
  gap: 20px;
}

.hide {
  display: none;
}

.box-soal {
  background-color: rgb(255, 187, 60);
  padding: 20px;
  font-size: 30pt;
  border-radius: 20px;
  border: 10px solid white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.komen {
  background-color: #0b223a;
  color: #eee;
}

.lanjut {
  background-color: rgb(119, 255, 119);
}

.info {
  color: white;
  padding-right: 40px;
  /* border:1px solid black; */
}

.modal-pass-level {
  position: fixed;
  background-color: rgb(0, 0, 0, 0.5);
  align-items: center;
  height: 100vh;
  width:100vw;
  z-index: 100;
  justify-content: center;
  display: flex;
}
/* .modal-content {
  background-color: white;
  border-radius: 5px;
  text-align: center;
  border: 5px solid #21568a;
  padding: 20px;
} */


.modal-body {
  padding-top: 5px;
  font-size: medium;
  font-weight: bold;
  
}

.modal-login {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #1d97bd;
  align-items: center;
  z-index: 1000;
}

.modal-menang {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0,0.5);
  align-items: center;
  z-index: 100;
}

.modal-dialog {
  background-color: #FFCA19;
  padding: 20px;
  border-radius: 10px;
  border: 8px solid white;
}

.modal-body {
  font-size: x-large;
  font-weight: bold;
}

.modal-footer>button {
  cursor: pointer;
  background-color: white;
  padding: 5px;
  margin-top: 5px;
}
.modal-footer-rexy > button,
.modal-footer-adri>button {
  cursor: pointer;
  background-color: white;
  padding: 5px;
  margin-top: 5px;
}

.modal-footer {
  display: flex;
  justify-content: space-around;
  background-color: #1d97bd;
  align-items: center;
  z-index: 1000;
}


.modal-footer-rexy {
  display: flex;
  justify-content: space-around;
}
.login-game {
  position: relative;
  width: 100%;
  height: 100%;
}

.mulai-main {
  width: 350px;
  height: 500px;
  background: red;
  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

.mulaimain {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #FFCA19;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}

button:hover {
  background: #023747;
}
.modal-footer-rexy > button:hover,
.modal-footer-adri > button:hover {
  background: white;
}
.isi-nama {
  text-justify: auto;
  font-size: xx-large;
  color: #eee;
  font-family: Helvetica;
  padding-top: 50px;
  font-family: 'Lucida Sans';
  font-weight: bold;
}

.input-nama-pemain {
  width: 70%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
}


